.grid-container {
    width: 100%;
    min-height: 1200px; /* aumenta a altura mínima */
    /* max-width: 1400px;  opcional, para limitar a largura máxima */
  }
  
  .grid-custom {
    font-size: 1.1rem;
  }